<!DOCTYPE html>
<html>
	<title>今年需要做的事情</title>
<head>
<meta charset="utf-8">
<meta name="viewport" >
<script src="/static/js/lib/jquery-1.12.3.min.js" ></script>
<script src="/static/js/lib/jquery.countdown.js"></script>
<script src="/static/js/lib/jquery.validate.js"></script>
<script src="/static/js/todo.js"></script>
<link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.6-dist/css/bootstrap.css"></link>
<script src="/static/js/lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<link rel="stylesheet" href="/static/css/todo.css" />

<link rel="stylesheet" href="/static/css/bootstrap-select.css">
 
 
<script src="/static/js/bootstrap-select.js"></script>

<script src="/static/js/lib/jquery-ui-1.12.0/jquery-ui.min.js" ></script>

 <link rel="stylesheet" href="/static/js/lib/jquery-ui-1.12.0/jquery-ui.min.css" />		